<h4>Récapitulons : </h4>

Bonjour très cher client! <br>
Votre nom est : <%=params[:nom]%> <br>
Votre prénom est : <%=params[:prenom]%> <br>
Votre adresse est : <%=params[:adresse]%> <br>
Votre pays est : <%=params[:pays]%> <br>

Merci de vous être inscrits!
